transmission:
  host: localhost
  user: _USERNAME_
  pass: _PASSWORD_

folder:
  root: "/torrent/"

  down_path: "media/"

  series_korea: "series/korea/"
  #series_international: "series/international/"
  #movie: "movie/"
